/* User Registration */

.webform-client-form #webform-component-policy_comment #edit-submitted-policy-comment-wrapper label span,  
.webform-client-form #webform-component-non_policy_comment #edit-submitted-non-policy-comment-wrapper label span {
  display: none;
}


/* Login page */

#user-login { font-size: 100%; }


#login .form-item label,
#user-login #login .form-item label,
#login form .form-item label {
  width: 80px;
  float: left;
  margin: 2px 16px 0 0;
}

#change-password #login form .form-item label {
  width: 150px;
  float: left;
  margin: 2px 16px 0 0;
}

#login .form-item,
#user-login #login .form-item,
#login form .form-item {margin: 0 0 17px 0;}

#login .form-text,
#user-login #login .form-text,
#login .form-text {width: 202px;}

form#login-form {margin: -2px;}

#login p {
  font-weight: 12px;
  width: 300px;
}

#login p#forgot-your-password {margin: 5px 0 0 94px;}

#login .btn-login {float: right; margin: 5px 80px 0 0;}

#login .btn-login a, #change-password .btn-login a{
   background: url(img/btn-login.png) no-repeat;
   display: block;
   width: 67px;
   height: 23px;  
   text-indent: -9000px;
  }

#login-services p {margin-right: 55px;}
  
#login-services .rpx-links ul li {
  float: left;
  list-style-type: none;
  margin-right: 8px;
}  
#login-services .rpx-links li a {
  width: 40px; 
  display: block;
  height: 40px;
  text-indent: -9000px;
}
  
#login-services li#fb-option a{
  background: url(img/icons-login-options.png) no-repeat 0 0;
  }
  
#login-services li#fb-option a:hover{
  background: url(img/icons-login-options.png) no-repeat -40px 0;
  }
  
#login-services li#google-option a{
  background: url(img/icons-login-options.png) no-repeat 0 -40px;
  }
  
#login-services li#google-option a:hover{
  background: url(img/icons-login-options.png) no-repeat -40px -40px;
  }
  
#login-services li#twitter-option a{
  background: url(img/icons-login-options.png) no-repeat 0 -80px;
  }
  
#login-services li#twitter-option a:hover{
  background: url(img/icons-login-options.png) no-repeat -40px -80px;
  }
  
#login-services li#yahoo-option a{
  background: url(img/icons-login-options.png) no-repeat 0 -120px;
  }
  
#login-services li#yahoo-option a:hover{
  background: url(img/icons-login-options.png) no-repeat -40px -120px;
  }
  
#login-services li#windows-option a{
  background: url(img/icons-login-options.png) no-repeat 0 -160px;
  }
  
#login-services li#windows-option a:hover{
  background: url(img/icons-login-options.png) no-repeat -40px -160px;
  }
  
#login-services li#myspace-option a{
  background: url(img/icons-login-options.png) no-repeat 0 -200px;
  }
  
#login-services li#myspace-option a:hover{
  background: url(img/icons-login-options.png) no-repeat -40px -200px;
  }
  
.openid-link .form-item,
#openID-login .form-item {
  background: url(img/icon-openID.gif) no-repeat left top;
  padding-left: 30px;
  padding-right: 8px;
  }  
#openID-login .description a { margin-left: 6px; }
#openID-login ul { padding-left: 0; }

#openID-login .btn-login {float: right; margin: 0;}

#openID-login .btn-login a{
   background: url(img/btn-login-grey.png) no-repeat;
   display: block;
   width: 67px;
   height: 23px;  
   text-indent: -9000px;
  }
  
#login a:hover, #login-services a:hover {text-decoration: none;}

#openID-login .form-text {width: 180px; float: left;}

p#what-is-openid {margin: 5px 0 0 0; }

.change-password-form-elements {width: 610px;}
  .change-password-form-elements #edit-pass-wrapper {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 20px 0;
  }

  .change-password-form-elements #edit-pass-wrapper label {
    color: #666;
    float: left;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 6px 10px 0 0;
    text-align: right;
    text-indent: 3px;
    width: 150px;
  }
  .change-password-form-elements #edit-pass-wrapper .form-text {
    background:#FDFDFD url(img/bg-form-item.png) repeat-x scroll 0 0;
    border-color:#CECECE #DCDCDC #DCDCDC;
    border-style:solid;
    border-width:1px;
    color:#666666;
    font-size:12px;
    padding:3px 1px;
    width:225px;
  }
  .change-password-form-elements .form-item { margin-bottom: 14px;}
  .change-password-form-elements .password-strength,
  .change-password-form-elements .password-confirm {color:#666;font-size: 12px;}
  .change-password-form-elements span .error {color: #c60;}
  .change-password-form-elements span .ok {color: #060;}
  .change-password-form-elements .password-description {padding: 4px 6px; background: #fdfdfd; border-color: #ccc; color: #666;}
  .change-password-form-elements .password-description li {margin-left: 20px;}
  .change-password-form-elements #edit-submit {
    /*background:transparent url(img/btn-login.png) no-repeat scroll 0 0;*/
    background:transparent url(img/btn-submit.png) no-repeat scroll 0 0;
    border: none;
    color: transparent;
    display: block;
    float: right;
    font-size: 0;
    height: 23px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999px;
    width: 67px;
    width: 80px;
  }
  
/* Sign up */

#content #sign-up a:hover, #post-comment-reply a:hover {text-decoration: none;}  

#sign-up .webform-description p.text-required {margin-bottom: 10px;}

#receive-email-updates {
  color:#666666;
  font-family:Arial,Helvetica,sans-serif;
  font-size:0.75em;
  font-weight:bold;
  margin:34px 0 30px 165px;
  letter-spacing:0.02em;
  }

#sign-up #edit-captcha-response-wrapper {margin: 20px 0;}

#sign-up .submit-wrapper {margin: 20px 0 0 0;}

#sign-up form.webform-client-form .form-item {margin: 0 0 18px 0;}

#sign-up .webform-client-form .submit-wrapper input {
  background: url(img/btn-create-new-account.gif) no-repeat scroll 0 0;
  border:medium none;
  color:transparent;
  display:block;
  font-size:0;
  height:25px;
  line-height:0;
  overflow:hidden;
  text-transform:capitalize;
  width:160px;}

#register-content {
  margin: 20px;
}
#register-content label {
  color:#666666;
  display:block;
  float:left;
  font-weight:bold;
  letter-spacing:0.02em;
  margin:6px 16px 0 0;
  text-align:right;
  text-indent:3px;
  width:150px;
}
#register-content .form-text {
  background:#FDFDFD url(img/bg-form-item.png) repeat-x scroll 0 0;
  border-color:#CECECE #DCDCDC #DCDCDC;
  border-style:solid;
  border-width:1px;
  color:#666666;
  font-size:12px;
  padding:3px 1px;
  width:225px;
}
#register-content .form-checkboxes,
#register-content .form-radios {
  clear: both;
}
#register-content .form-checkboxes .form-item,
#register-content .form-radios .form-item {
  float: left;
}
#register-content .form-checkboxes,
#register-content .form-radios {
  clear: both;
  padding-left: 120px;
}
#register-content .form-checkboxes label,
#register-content .form-radios label {
  float: none;
  text-align: left;
}

#edit-profile-email-opt-in-wrapper,
#edit-notify-wrapper {
  letter-spacing:0.02em;
  margin:34px 0 30px 165px;
}
#edit-profile-email-opt-in-wrapper label,
#edit-notify-wrapper label {
  width: 330px;
  text-align: left;
}
#recaptcha_response_field {
  background:#FDFDFD url(img/bg-form-item.png) repeat-x scroll 0 0;
  border-color:#CECECE #DCDCDC #DCDCDC;
  border-style:solid;
  border-width:1px;
  color:#666666;
  font-size:12px;
  padding:3px 1px;
}

/* User Registration */
body.full-white #content {
  width: 770px;
  float: left;
  padding: 25px 0 0 20px;
  background: #FFF;
}
body.full-white .extend-page {background: #FFF;}
body.full-white #right-rail {background: #FFF; width: 50px; min-height: inherit; padding: 0; margin: 0;}

#account-your-comments {
  width: 615px;
  }

#account-your-profile {
  margin: 20px 0 0 0;
  width: 715px;
}

#login {
  width: 378px;
  float: left;
  /*padding: 10px 0 0 40px;*/
  padding: 10px 0 0 0;
}

#login-services {
  width: 359px;
  float: left;
  padding: 10px 0 0 0;
  margin-left: 27px;
   }

#openID-login {
  border-top: 1px solid #e6e6e6;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  clear: both;
}
#edit-openid-identifier {
  width: 300px;
}

#sign-up {width: 590px;}

#user-profile-form {
  
}
  #user-profile-form ul.secondary li a {
    text-decoration: none;
  }