html body {
  padding-bottom: 26px;
}
#utility-bar-wrapper {
  bottom: 0px;
  height: 26px;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

#utility-bar-content {
  background: url(img/bg-utility-belt.png) center top no-repeat;
  border-bottom: none;
  color: #759eb7;
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  margin: auto;
  text-align: left;
  width: 1016px;
}

  /* Get rid of dotted lines around links. */
  #utility-bar-content a { outline: none; }
  #utility-bar-content :focus { -moz-outline-style: none; }

  
  #utility-bar-content .utility-bar-user-link a {
    color: #fff;
  }
    #utility-bar-block-links {
      float: left;
      margin: 0 0 0 30px;
      display: inline-block;
    }
    #utility-bar-user-links {
      float: right;
    }
      #utility-bar-block-links .utility-bar-user-content {
        background: transparent url(img/bg-belt-divide.gif) no-repeat scroll right center;
        float: left;
        padding: 0 10px;
        position: relative;
      }
      #utility-bar-user-links a {
        color: #fff;
      }
    #utility-bar-user-links .user-links {
      margin: 0 0 0 10px;
      padding: 0;
    }
      #utility-bar-user-links .user-links li {
        float: left;
        list-style: none;
        padding: 0 12px 0 12px;
        margin: 0;
          background: url(img/bg-belt-divide.gif) left no-repeat;
         }
    
    #utility-bar-content .utility-bar-user-block {
      left: -50px;
      bottom: 24px;
      display: none;
      position: absolute;
      width: 400px;
    }

    #utility-bar-content .utility-bar-user-block .top { background: transparent url(img/bg-belt-overlay-top-right.png) no-repeat right 0; height: 8px; }
    #utility-bar-content .utility-bar-user-block .top div { background: transparent url(img/bg-belt-overlay-top-left.png) no-repeat 0 0; height: 8px; margin: 0 5px 0 0; }
    #utility-bar-content .utility-bar-user-block .bottom { background: transparent url(img/bg-belt-overlay-btm-right.png) no-repeat right top; height: 20px; }
    #utility-bar-content .utility-bar-user-block .bottom div { background: transparent url(img/bg-belt-overlay-btm-left.png) no-repeat 0 0; height: 20px; margin: 0 5px 0 0; }
    #utility-bar-content .utility-bar-user-block .block-content { background: transparent url(img/bg-belt-overlay-tile-right.png) repeat-y right 0; overflow: hidden; }
    #utility-bar-content .utility-bar-user-block .block-content .content-inside { background: transparent url(img/bg-belt-overlay-tile-left.png) repeat-y left 0; margin: 0 4px 0 0; padding: 0 0 0 14px; }


#utility-bar-wrapper .close-wrapper {
  text-align: right;
}  

#utility-bar-wrapper .close {
  float: right;
  width: auto;
  margin: 0 10px 0 0;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}

  #utility-bar-wrapper .close a {
    background: url(img/icon-close.gif) no-repeat right;
    padding-right: 18px;
    display: block;
    color: #999;
    padding: 2px 20px 2px 2px;
    font-size: 11px;
    font-weight: bold;  
  }


/**
 * This is to cause IE6 to mimic the position:fixed CSS attribute.
 */
* html, * html body{
    background: url("iefix.gif") fixed;
  }

* html div#utility-bar-wrapper {
  position: absolute;
  top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') 
    ? documentElement.scrollTop + (documentElement.clientHeight-this.clientHeight) 
    : document.body.scrollTop + (document.body.clientHeight-this.clientHeight));
}


/* Drupal messages */
#control .messages,
#control .congreet_status {
  display: none;
}
#utility-bar-messages {
  left: -60px;
  bottom: 24px;
  display: none;
  position: absolute;
  width: 600px;
}
  #utility-bar-messages .top { background: transparent url(img/bg-belt-overlay-top-right.png) no-repeat right 0; height: 8px; }
  #utility-bar-messages .top div { background: transparent url(img/bg-belt-overlay-top-left.png) no-repeat 0 0; height: 8px; margin: 0 5px 0 0; }
  #utility-bar-messages .bottom { background: transparent url(img/bg-belt-overlay-btm-right.png) no-repeat right top; height: 20px; }
  #utility-bar-messages .bottom div { background: transparent url(img/bg-belt-overlay-btm-left.png) no-repeat 0 0; height: 20px; margin: 0 5px 0 0; }
  #utility-bar-messages .content { background: transparent url(img/bg-belt-overlay-tile-right.png) repeat-y right 0; }
  #utility-bar-messages .content .content-inside { background: transparent url(img/bg-belt-overlay-tile-left.png) repeat-y left 0; margin: 0 4px 0 0; padding: 0 6px; }

  .view-messages {
    display: none;
  }
  
  #utility-bar-messages .congreet_status {
    clear: both;
    color: #333;
    margin: 0 10px;
  }
    #utility-bar-messages .congreet_status a {
      color: #0f4f89;
    }
    #utility-bar-messages .congreet_status li {
      margin: 0 0 0 10px;
    }
  #utility-bar-messages h4 {
    margin: 4px 6px;
    float: left;
  }

  #utility-bar-messages .messages {
    clear: both;
    margin: 0 6px;
    padding: 2px 6px 2px 20px;
  }
    #utility-bar-content .messages a {
      color: #369;
    }

    #utility-bar-content .view-messages {
      float: left;
      margin: 0;
      background: url(img/bg-belt-divide.gif) right no-repeat;
      padding: 0 10px 0 0;
      position: relative;
    }
    
    #utility-bar-content .utility-messages { margin: 0 10px 0 0; }
    #utility-bar-content .messages-0 { margin: 0 10px 0 40px; }
    
  
#register-content p.email-list {
  margin-left: 120px;
  width: 300px;
}
#register-content .form-checkboxes .form-item {
  margin-bottom: 4px;
}
#register-content .email-list-checkboxes {
  margin-bottom: 4px;
}

